.box_facebook_page{
    // border: solid 5px palevioletred;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook_page{
    box-shadow: 5px 5px 100px gray;
    // border: solid 5px red;
    width: 420px;
    // min-height: 800px;
}
// .fb-page{
//     // border: solid 5px green;
// }
// blockquote{
//     // border: solid 5px blue;
// }