/* GALLERIE */
.gallerie{
    // border: solid 5px blueviolet;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // margin-top: 100px;
}

.gallerie .img{
    background-color: red;
    width: 33.333%;
    height: 50vh;
    position: relative;
    opacity: 0.8;
}

.gallerie div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallerie .img:nth-child(1){
    background-image: url('../../../siteWeb/imagesSw/imagesGalleries/IMG-20210817-WA0006.jpg');
}
.gallerie .img:nth-child(2){
    background-image: url('../../../siteWeb/imagesSw/imagesGalleries/platsindiens.jpg');
}
.gallerie .img:nth-child(3){
    background-image: url('../../../siteWeb/imagesSw/imagesGalleries/130808670_168736501628579_8165207263265384698_n.jpg');
}
.gallerie .img:nth-child(4){
    background-image: url('../../../siteWeb/imagesSw/imagesGalleries/IMG-20210817-WA0010.jpg');
}
.gallerie .img:nth-child(5){
    background-image: url('../../../siteWeb/imagesSw/imagesGalleries/265324876_419131486589078_2795146929684032490_n.jpg');
}
.gallerie .img:nth-child(6){
    background-image: url('../../../siteWeb/imagesSw/imagesGalleries/IMG-20210817-WA0012.jpg');
}

@media screen and (max-width: 720px){
    .gallerie .img{
        width: 33.333%;
        height: 20vh;
    }
}
