<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>cms squelette</title>
</head>


<body>
    <div id="app" class="page">
        <header>
            <!--<div class="header_head"></div>-->
            <div class="header_body"></div>
        </header>

        <div class="side_left"></div>

        <div class="contenue">
            <!--<div class="contenue_head"></div>-->
            <div class="contenue_body"></div>
        </div>

        <footer>
            <div class="footer_head">
                <div class="footer_head_left"></div>
                <div class="footer_head_right"></div>
            </div>
            <div class="footer_body"></div>
        </footer>
    </div>

    <!-- ici la librairie Vue Js -->
    <script src="app.js"></script>
</body>
</html>