

<div class="presentationDePage">
    <div class="divLeft">
        <h2>Presentation de la page</h2>
    </div>

    <div class="divRight">
        <h3>Div Right</h3>
    </div>
</div>

<div class="filter_search">

    <h1>Filtre de recherche :</h1>

    <form action="" method="get">
        <div class="boxSelect">
            <div>
                <h3>Jobs :</h3>
                <select name="jobs" id="jobs">
                </select>
            </div>

            
            <div>
                <h3>Regions :</h3>
                <select name="regions" id="regions">
                </select>
            </div>
            
            
            <div>
                <h3>Citys :</h3>
                <select name="citys" id="citys">
                </select>
            </div>
        </div>

        <input class="submit" type="submit" value="Procurar">
    </form>
</div>

<div class="contenu">
    <div class="items">

        <div class="item">
            <div class="img item1"></div>
            <div class="infos">
                <span><h4>Metier: &nbsp;</h4><p>nom du metier</p></span>
                <span><h4>nom: &nbsp;</h4><p>nom item</p></span>
                <span><h4>ville: &nbsp;</h4><p>nom ville</p></span>
            </div>
            <a href="http://127.0.0.1:5500/c-link-template/page.html" class="lien">lien</a>
        </div>
        

        <div class="item">
            <div class="img item2"></div>
            <div class="infos">
                <span><h4>Metier: &nbsp;</h4><p>nom du metier</p></span>
                <span><h4>nom: &nbsp;</h4><p>nom item</p></span>
                <span><h4>ville: &nbsp;</h4><p>nom ville</p></span>
            </div>
            <a href="http://127.0.0.1:5500/c-link-template/page.html" class="lien">lien</a>
        </div>
        
    </div>
</div>





<script type="text/javascript">

    let sousTitle = title + "| HOME";
    $("title").text(sousTitle);
    

    $(function () {
        $("#hideShow").click(function () { //changement de coulor light ou dark
            $("body, .page").toggleClass("bgColorDark")
        })
        //let file_component_slide_bloc = "views/components/home/slideBloc.html";
        //$("#add_component_slide_bloc").prependTo(function () {
        //    $("#add_component_slide_bloc").load(file_component_slide_bloc)
        //})
    })

    $(".item1").css({
        "background-image": "url('https://steamuserimages-a.akamaihd.net/ugc/779610114015990632/54E2C3ECCA0404A1D798608F20FB5F5CC1A2F4FC/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false')"
    })
    $(".item2").css({
        "background-image": "url('https://wallpapercave.com/wp/wp1928401.jpg')"
    })

    let p = $("p");
    let citys = $("#citys");
    let itemCountry = "";
    let UrlCountry = "http://localhost/tests/Api/country.php";


/*AFICHAGE des regions*/
    let regions = $("#regions");
    let itemRegion = "";
    let UrlRegions = "http://localhost/tests/Api/regions.php";
    $.ajax({
        url: UrlRegions,
        dataType: "json",
        success: function(data){
            data.forEach(region => {
                itemRegion += '<option value="'+region.id+'" >'+region.name+'</option>';
            })
            regions.html(itemRegion);
        },
        error: p.html("error 1")
    });



/*AFICHAGE des jobs*/
    let jobs = $("#jobs");
    let itemjobs = "";
    let Urljobs = "http://localhost/tests/Api/jobs.php";
    $.ajax({
        url: Urljobs,
        dataType: "json",
        success: function(data){
            data.forEach(job => {
                itemjobs += '<option value="'+job.id+'" >'+job.name+'</option>';
            })
            jobs.html(itemjobs);
        },
        error: p.html("error 1")
    });



/*AFICHAGE des villes*/
    regions.change(function(id){
        let itemCity = "";
        let UrlCity = "http://localhost/tests/Api/city.php?idRegion="+`${id.target.value}`;
        $.ajax({
            url: UrlCity,
            dataType: "json",
            success: function(data){
                data.forEach(city => {
                    itemCity += '<option value="'+city.id+'" >'+city.name+'</option>';
                })
                citys.html(itemCity);
                itemCity = "";
            },
            error: p.html("error 2")
        });
    })


/*AFICHAGE des entreprises*/
    citys.change(function(id){
        let itemCity = "";
        let UrlCity = "http://localhost/tests/Api/city.php?idRegion="+`${id.target.value}`;
        $.ajax({
            url: UrlCity,
            dataType: "json",
            success: function(data){
                data.forEach(city => {
                    itemCity += '<option value="'+city.id+'" >'+city.name+'</option>';
                })
                citys.html(itemCity);
                itemCity = "";
            },
            error: p.html("error 2")
        });
    })

    
</script>