

<div class="presentationDePage">
    <div class="divLeft">
        <h2>Presentation de la page</h2>
    </div>

    <div class="divRight">
        <h3>Div Right</h3>
    </div>
</div>

<div class="filter_search">

    <h1>Filtre de recherche :</h1>

    <form>
        <div class="boxSelect ">
            <div class="test">
                <h3>Jobs :</h3>
                <select name="job" id="job">
                </select>
            </div>

            
            <div class="test">
                <h3>Regions :</h3>
                <select name="regions" id="regions">
                </select>
            </div>
            
            
            <div class="test">
                <h3>Citys :</h3>
                <select name="city" id="city">
                    <option>City :</option>
                </select>
            </div>
        </div>

        <!--<input class="submit" type="submit" value="Procurar">-->
    </form>
</div>

<div class="contenu">
    <div class="items">

        <!--<div class="item">
            <div class="img item1"></div>
            <div class="infos">
                <span><h4>Metier: &nbsp;</h4><p>nom du metier</p></span>
                <span><h4>nom: &nbsp;</h4><p>nom item</p></span>
                <span><h4>ville: &nbsp;</h4><p>nom ville</p></span>
            </div>
            <a href="http://127.0.0.1:5500/c-link-template/page.html" class="lien">lien</a>
        </div>
        

        <div class="item">
            <div class="img item2"></div>
            <div class="infos">
                <span><h4>Metier: &nbsp;</h4><p>nom du metier</p></span>
                <span><h4>nom: &nbsp;</h4><p>nom item</p></span>
                <span><h4>ville: &nbsp;</h4><p>nom ville</p></span>
            </div>
            <a href="http://127.0.0.1:5500/c-link-template/page.html" class="lien">lien</a>
        </div>-->
        
    </div>
</div>





<script type="text/javascript" src="public/js/script.js"></script>
<script type="text/javascript">

    let sousTitle = title + "| HOME";
    $("title").text(sousTitle);
    

    $(function () {
        $("#hideShow").click(function () { //changement de coulor light ou dark
            $("body, .page").toggleClass("bgColorDark")
        })
        //let file_component_slide_bloc = "views/components/home/slideBloc.html";
        //$("#add_component_slide_bloc").prependTo(function () {
        //    $("#add_component_slide_bloc").load(file_component_slide_bloc)
        //})
    })



    
</script>