footer{
    // background-color: black;
    color: white;
    
    ul{
        display: flex;
        justify-content: center;
        // border: solid red 3px;
    }
    li{
        // background-color: yellow;
        font-size: 20px;
        margin: 5px;
    }
    a{
        // background-color: white;
        border-radius: 10px;
        border: solid 2px transparent;
        padding: 10px;
        color: rgb(0, 255, 123);
    }
    a:hover{
        background-color: rgb(255, 255, 255, 0.2);
    }
    .copyright li{
        font-size: 11px;
    }
}

footer ul:first-child{
    margin-bottom: 30px;
}