/**/
.presentationDePage{
    height: 90vh;
    border-radius: 0 0 30px 30px;
    display: flex;
}
.presentationDePage div{
    /* border: solid 2px red; */
    width: 100%;
}
/* .presentationDePage .divLeft{
} */
/* .presentationDePage .divRight{
} */