*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --color-bg1: darkslategrey;
    --color-bg2: darkslategrey;
    --color-text: rgb(255, 255, 255,0.8);
    --border-test: solid 3px red;
    --a-var: 20px 30px;
}
a{
    color: var(--color-text);
    padding: var(--a-var);
}
body{
    background-color: var(--color-bg1);
    color: var(--color-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    justify-self: flex-start;
    border: var(--border-test);
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    border: var(--border-test);
    margin-top: 200px;
    align-self: center;
    background-color: var(--color-bg2);
}