
<header>
    <div class="dark_opo header_contenu">
        <div class="reseaux_social">
            <a href="" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <h1>WAWMOMO</h1>
        <h3>SANDWICHERIE - PETITE RESTAURATION - TAKE AWAY</h3>
    </div>
</header>



<div class="box_contenu">

    <!--<h1 id="technologie" class="titre_Portfolio">Nos Menus : <a class="a_scroll_up"><i class="fa-solid fa-chevron-up"></i></a></h1>-->
    
    <div class="box_list_menus">
        <!--<div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>
        
        <div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>
        
        <div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>
        
        <div class="item">
            <div class="dark_opo">
                <h1>Petite Restauration</h1>
            </div>
        </div>-->
    </div>


    <div class="box_list_produits ">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h1>choisissez votre menu et commander par telephone !</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




<script type="text/javascript" src="./assets/js/datas_menus.js"></script>
<script type="text/javascript">
    $(function(){

        let img_bg_menu = $(".box_list_menus .item");
        let box_list_produits = $(".box_list_produits");
        let header = $("header");


        header.css({
            "background-image": "url('./assets/images/background/rajat-sarki-Px6DxlRw7XM-unsplash.jpg')"
        });
        img_bg_menu.css({
            "background-image": "url('https://www.voyagethailande.fr/cdn/th-public/panang_curry-MAX-w1000h600.jpg')"
        });
        box_list_produits.css({
            "background-image": "url('./assets/images/background/')"
        });

    })
</script>