



<div class="box_contenu">
    <div class="dark_opo">
        <div class="box_list_menus">
            <!--<div class="item">
                <div class="dark_opo">
                    <h1>Petite Restauration</h1>
                </div>
            </div>
            
            <div class="item">
                <div class="dark_opo">
                    <h1>Petite Restauration</h1>
                </div>
            </div>
            
            <div class="item">
                <div class="dark_opo">
                    <h1>Petite Restauration</h1>
                </div>
            </div>
            
            <div class="item">
                <div class="dark_opo">
                    <h1>Petite Restauration</h1>
                </div>
            </div>-->
        </div>
    </div>
</div>


<script type="text/javascript" src="./assets/js/datas_menus.js"></script>
<script type="text/javascript">
    $(function(){

        let img_bg_menu = $(".box_list_menus .item");


        img_bg_menu.css({
            "background-image": "url('https://www.voyagethailande.fr/cdn/th-public/panang_curry-MAX-w1000h600.jpg')"
        });

    })
</script>