
.box_contenu{
    // border: solid red 5px;
    background-color: var(--backColorOrange);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenu_demos{
    min-height: 80vh;
    display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
}


.box_contenu .article{
    background-color: var(--colorBG_01);
    width: 400px;
    height: 300px;
    margin: 25px;
    background-position: top left;
    background-size: cover;
    display: flex;
        justify-content: center;
        align-items: center;
}
.box_contenu .article a{
    width: 100%;
    height: 100%;
    text-shadow: var(--shadowText);
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255, 255, 255,0.8);
    font-size: 2.5rem;
    text-align: center;
}
.box_contenu .article a:hover{
    color: rgb(0, 0, 0,0.4);
    background-color: rgb(255, 255, 255,0);
    width: 100%;
    height: 100%;
    font-size: 2rem;
}



@media screen AND (max-width: 904px) {
    .box_contenu .article{
        width: 85%;
        height: 300px;
        margin: 25px auto;
    }
}