.connaissances{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    // min-height: 100vh;
    padding: 150px 0;
    width: 100%;
    background-color: var(--colorBG_04);
}
.connaissances h1{
    margin: 20px 0;
}

.connaissances .items_bloc{
    // border: solid 2px red;
    width: 100%;
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
}
.connaissances .item{
    // border: solid 2px yellow;
    border-radius: 20px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
        justify-content: center;
        align-items: center;
}
.connaissances .item img{
    max-width: 100%;
    max-height: 100%;
}

.link_pdf{
    align-self: flex-start;
    border-radius: 10px;
    background-color: rgb(0, 132, 64);
    box-shadow: var(--colorShadow);
    padding: 4px 8px;
    width: 200px;
    margin: 0 0 100px 10%;
    color: white;
    font-size: 1.5rem;
}
.link_pdf:hover{
    margin: 0 0 90px 10%;
    padding: 6px 10px;
    font-size: 2rem;
    width: 300px;
}

@media (max-width: 800px) {
    .connaissances .item{
        width: 100px;
        height: 100px;
    }
}