*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    transition: 250ms;
    font-size: 16px;
}

p{
    font-size: 16pt;
}

a{
    display: flex;
        justify-content: center;
        align-items: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#page{
    background-color: var(--colorBlack);
}

.contenue{
    min-height: 150vh;
    background-color: var(--colorBG_04);
    position: relative;
}

.titre_Portfolio{
    position: sticky;
        top: 0;
    background-color: black;
    margin: 0 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3rem;
}

.titre_Portfolio a{
    cursor: pointer;
    position: absolute;
        top: 0;
        right: 5px;
    height: 100%;
    padding: 0 10px;
    font-size: 3em;
}
.titre_Portfolio a i{
    font-size: 0.25em;
    color: white;
}
.titre_Portfolio a:hover > i{
    font-size: 0.2em;
    color: green;
}

//un filtre noir sur une image pour un beau contraste
.dark_opo{
    background-color: rgb(0, 0, 0, 0.5);
}


@media (max-width: 800px) {
    .titre_Portfolio{
        font-size: 2rem;
    }
}

::-webkit-scrollbar{
    background-color: black;
    pointer-events: visible;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: cyan; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: darkblue;
}