:root{
    --colorBlack: black;
    --colorBG_01: #151515;
    --colorBG_02: #353535;
    --colorBG_03: #656565;
    --colorBG_04: #959595;
    --colorShadow: 0 20px 40px rgb(0, 0, 0, 0.8);
    --shadowText: 2px 2px 4px rgb(0, 0, 0, 0.8); 
    --shadowObjet: 4px 4px 4px rgb(0, 0, 0, 0.8); 
    --backColorGreen: #1c9454;
    --backColorOrange: orangered;
}