


.box_contenue_cub{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
}
.box_contenue_cub div a{
    letter-spacing: 4px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}
.box_contenue_cub .sous_box_contenue_cub{
    background-color: #2525254d;
    width: 80%;
    height: 80%;
    /* border: solid 2px green; */
    display: flex;
        justify-content: center;
        align-items: center;
}

.cub{
    position: relative;
    height: var(--taille);
    width: var(--taille);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cub 40s linear infinite;
}
@keyframes cub
{
    0%{
        transform: rotateX(-30deg) 
        rotateY(0deg);
    }

    100%{
        transform: rotateX(-30deg) 
        rotateY(360deg);
    }
}
.cub div{
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cub div span{
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#252525 , #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(var(--tailleEspace));
}
.cub .spanA{
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    display: flex;
        justify-content: center;
        align-items: center;
    cursor: pointer;
}
.cub .spanA:hover{
    background-color: var(--backColorGreen);
    color: #252525;
}
.top{
    position: absolute;
        top: 0;
        left: 0;
    width: var(--taille);
    height: var(--taille);
    background-color: #151515;
    transform: rotateX(90deg) translateZ(var(--tailleEspace));
}
.top::before{
    background-color: var(--backColorGreen);
    content: "";
    position: absolute;
        top: 0;
        left: 0;
    width: var(--taille);
    height: var(--taille);
    transform: translateZ(var(--filter-distance));
    filter: var(--filter-blur) ;
}