:root{
    --colorBgHeader: #252525cc;
    --colorClairHover: orangered;
    --colorShadow: 0 20px 40px rgb(0, 0, 0, 0.8);
    --shadowText: 2px 2px 4px rgb(0, 0, 0, 0.8); 
    --backColorGreen: #00ec00;
    --backColorOrange: orangered;

    
    --colorClair: white; 

    --fontSize: 1em; 
    
    --taille: 10em;
    --tailleEspace: 6em;
    --filter-distance: -16em;
    --filter-blur: blur(30px);
}