<div id="add_component_slide_bloc"></div>

<div class="contener_home">
    <div id="presentation">
        <h1>C-link.com</h1>
        <p>Plataforma de ajuda as Empresas pequenas para uma melhor vesibilidade ao nivel nacional</p>
    </div>

    <div class="pub">
        <h3>Pub</h3>
    </div>

    <section>
        <div class="nav_side_left hideBlock">

            <button id="hideShow"><i class="fa-sharp fa-solid fa-circle-half-stroke"></i>&nbsp; dark/light</button>

            <form action="#/home" method="get">
                <div class="group">
                    <label for="">Metiers:</label>
                    <div>
                        <label for="electricien">electricien:&nbsp;</label>
                        <input type="radio" name="metiers" value="0" id="electricien">
                    </div>

                    <div>
                        <label for="informatico">informatico:&nbsp;</label>
                        <input type="radio" name="metiers" value="1" id="informatico">
                    </div>

                    <div>
                        <label for="canalisador">canalisador:&nbsp;</label>
                        <input type="radio" name="metiers" value="2" id="canalisador">
                    </div>
                </div>

                <br>

                <div class="group">
                    <label for="">Regions:</label>
                    <div>
                        <label for="alentejo">alentejo:&nbsp;</label>
                        <input type="radio" name="regions" value="0" id="alentejo">
                    </div>

                    <div>
                        <label for="algarve">algarve:&nbsp;</label>
                        <input type="radio" name="regions" value="1" id="algarve">
                    </div>

                    <div>
                        <label for="lisboa">lisboa:&nbsp;</label>
                        <input type="radio" name="regions" value="2" id="lisboa">
                    </div>
                </div>

                <br>
                <input class="submit" type="submit" value="RECHERCHE">
            </form>

            <a class="connection" href=""><i class="fa-solid fa-right-to-bracket"></i></a>

        </div>

        <div class="body">
            <span class="slideMenuFiltre">
                <i class="fa-regular fa-gear"></i>
            </span>

            <h1>Body section</h1>

            <div class="articles">
                <div class="item item1" >
                    <div class="description">
                        <h3>Star Industrie</h3>
                        <h4>Ville:</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veniam.</p>
                    </div>
                    <ul>
                        <li class="heart"><i class="fa-solid fa-heart"></i>&nbsp; 25</li>
                        <li class="plusinfo"><a href="#/page1">+ info</a></li>
                    </ul>
                </div>

                
                <div class="item item2">
                    <div class="description">
                        <h3>SHIELD</h3>
                        <h4>Ville:</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veniam.</p>
                    </div>
                    <ul>
                        <li class="heart"><i class="fa-solid fa-heart"></i>&nbsp; 25</li>
                        <li class="plusinfo"><a href="#/page1">+ info</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>








<script>
    msg = title + "| HOME"
    $("title").text(msg)

    $(function () {
        
    $("#hideShow").click(function(){//changement de coulor light ou dark
        $("body, .page").toggleClass("bgColorDark")
    })  
        let file_component_slide_bloc = "views/components/home/slideBloc.html";
        $("#add_component_slide_bloc").prependTo(function () {
            $("#add_component_slide_bloc").load(file_component_slide_bloc)
        })

    })

    $(".item1").css({
        "background-image": "url('https://steamuserimages-a.akamaihd.net/ugc/779610114015990632/54E2C3ECCA0404A1D798608F20FB5F5CC1A2F4FC/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false')"
    })
    $(".item2").css({
        "background-image": "url('https://wallpapercave.com/wp/wp1928401.jpg')"
    })

    $(".slideMenuFiltre i").click(function(){
        $(".nav_side_left").toggleClass("showBlock")
    })
</script>