@import 'sass/info';
@import 'sass/imports';
@import 'sass/variables';
@import 'sass/general';

@import 'sass/navbar';
@import 'sass/animation';

@import 'sass/header';
@import 'sass/haut_de_page';

/*SLIDE BOX*/
@import 'sass/contact';

@import 'sass/gallery_IMG';
@import 'sass/connaissances';
@import 'sass/footer';