
.box_list_menus{
    // border: solid red 3px;
    // background-color: var(--);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-attachment: fixed;
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}
.box_list_menus div{
    // border: solid green 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-position: top left;
    background-size: cover;
    display: flex;
        justify-content: center;
        align-items: center;
}
.box_list_menus .item:hover div{
    background-color: rgb(0, 0, 0, 0.9);
}
.box_list_menus h1{
    font-size: 1.6rem;
    text-shadow: var(--shadowText);
    color: var(--text_color_light_3);
    text-align: center;
}