*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    transition: 300ms;
    color: var(--text_color_dark_1);
}


body{
    background-color: var(--bckgd_color_light_1);
    // border: solid green 4px;
}
// #page{
//     border: solid blue 4px;
//     padding-top: none;
// }
// #AddComponents{
//     margin-top: none;
//     border: solid red 4px;
// }

.box_contenu{
    position: relative;
}

a{
    cursor: pointer;
    padding: 5px;
}

a,
li{
    text-decoration: none;
    list-style: none;
    display: flex;
        justify-content: center;
        align-items: center;
}

h1{
    // text-align: center;
    display: flex;
        justify-content: space-around;
        align-items: center;
}



//un filtre noir sur une image pour un beau contraste
.dark_opo{
    background-color: rgb(0, 0, 0, 0.6);
    min-width: 100%;
    min-height: 100%;
}



/* Z-INDEX's */
header{
    z-index: 0;
}
.box_contenu{
    z-index: 5;
}
.btn_slide_box{
    z-index: 12;
}
.slide_box{
    z-index: 15;
}





/* SCROLLBAR */
::-webkit-scrollbar{
    background-color: var(--bckgd_color_dark_2);
    pointer-events: visible;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--bckgd_color_light_2); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: white;
}