*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms;
    font-family: 'Courier New', Courier, monospace;
}
:root{
    --bgColorLight: #E6E6E6;
    --bgColorDark: #1C1C1C;
    --textColorLight: #E6E6E6;
    --textColorDark: #1C1C1C;

    --fontSizeText: 0.8em; 
    --fontSizeTitre: 1.4em; 
    --fontSizeSousTitre: 1em; 
    
}
body{
    font-size: 20px;
}
.page{
    min-height: 100vh;
}

.bgColorLight{
    background-color: var(--bgColorLight);
    color: var(--textColorDark);
}
.bgColorLight a{
    color: var(--textColorDark);
}
.bgColorDark{
    background-color: var(--bgColorDark);
    color: var(--textColorLight);
}
.bgColorDark a{
    color: var(--textColorLight);
}

li{
    list-style: none;
}

a{
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}
h1{
    font-size: var(--fontSizeTitre);
}
p,a{
    font-size: var(--fontSizeText);
    font-weight: bold;
}

::-webkit-scrollbar{
    background-color: black;
    pointer-events: visible;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #004d00; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00ec00;
}