header{
    min-height: 10vh;
}
header div:first-child{
    padding: 5px;
    display: flex;
        justify-content: space-between;
        align-items: flex-start;
}
header div:nth-child(2){
    display: flex;
        justify-content: center;
        align-items: center;
}
header div:nth-child(2) a{
    cursor: pointer;
}