<!--<div class="slideBloc bgColorDark hideAndShow">
    <span><i class="fa-solid fa-circle-xmark"></i></span>
    <div class="text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quibusdam odio magni numquam quia impedit. Saepe eum hic aliquid? Quas, eos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quibusdam odio magni numquam quia impedit. Saepe eum hic aliquid? Quas, eos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quibusdam odio magni numquam quia impedit. Saepe eum hic aliquid? Quas, eos.</p>
    </div>
</div> -->

<script>
    //msg = title + "| About"
    //$("title").text(msg)
</script>