/* FOOTER */
footer{
    margin-top: 100px;
    padding: 8px;
    border-radius: 30px 30px 0 0;
}
footer .body{
    font-size: 0.9em;
    justify-content: space-around;
    align-items: flex-start;
}
footer .body div{
    padding: 20px 0;
}
/* footer .body .left{
} */
/* footer .body .right{
} */
footer .foot{
    text-align: center;
    font-size: 0.7em;
}