/* VARIABLES */
:root{
    --BG-color-Dark-Blue: #0b073f;
    --BG-color-Dark-red: #542121;
    --BG-color-Dark-green: #013a33;
    --BG-color-Light: #cacaca;
    --BG-color-light-blue: #015d57;

    --TXT-color-Light: #cacaca;
    --TXT-color-dark: #0b073f;

    --test-border-red: solid 3px red;

    --border-blue: solid 2px #1c1767;
    --border-red: solid 2px #6F1B1B;
    --border-green: solid 2px #015d57;

    --shadow: 4px 4px 4px rgb(0, 0, 0, 0.8);
    --shadow-inset-bottom: -4px -4px 4px rgb(0, 0, 0, 0.8);
}