<div id="about" class="slideBloc bgColorLight hideAndShow">
    <span><i class="fa-solid fa-circle-xmark"></i></span>
    <div class="text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quibusdam odio magni numquam quia impedit. Saepe eum hic aliquid? Quas, eos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quibusdam odio magni numquam quia impedit. Saepe eum hic aliquid? Quas, eos.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quibusdam odio magni numquam quia impedit. Saepe eum hic aliquid? Quas, eos.</p>
    </div>
</div>

<div id="contact" class="slideBloc bgColorLight hideAndShow">
    <span><i class="fa-solid fa-circle-xmark"></i></span>
    <div class="text">
        
    </div>
</div>



<script>
    $(".slideBloc").addClass("hide") //"slide bloc" desactive par default

    $(".a-about").click(function () { //activer le "slide bloc"
        $("#about").addClass("show")
    })

    $(".a-contact").click(function () { //activer le "slide bloc"
        $("#contact").addClass("show")
    })

    $(".slideBloc span").click(function () { //desactiver le "slide bloc"
        $(".slideBloc").addClass("hide").removeClass("show")
    })
</script>