@import "https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
}
:root{
    --colorBgHeader: #252525;
    --colorClair: white; 

    --fontSize: 0.8em; 
    
    --taille: 10em;
    --tailleEspace: 6em;
    --filter-distance: -16em;
    --filter-blur: blur(30px);
}
body{
    font-size: 20px;
}
.page{
    background-color: #151515;
    min-height: 100vh;
}
a{
    color: var(--colorClair);
    padding: 5px 10px;
    text-decoration: none;
}
::-webkit-scrollbar{
    background-color: black;
    pointer-events: visible;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #004d00; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00ec00;
}






header{
    background-color: var(--colorBgHeader);
    color: var(--colorClair);
    position: sticky;
        top: 0;
    /* z-index: 10; */
}
header, 
header .links{
    display: flex;
        justify-content: center;
        align-items: center;
}
header .links a:hover{
    background-color: var(--colorClair);
    color: var(--colorBgHeader);
}
header .links{
    font-size: var(--fontSize);
}




.box_contenue_cub{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
}
.box_contenue_cub .sous_box_contenue_cub{
    background-color: #2525254d;
    width: 80%;
    height: 80%;
    /* border: solid 2px green; */
    display: flex;
        justify-content: center;
        align-items: center;
}

.cub{
    position: relative;
    height: var(--taille);
    width: var(--taille);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cub 40s linear infinite;
}
@keyframes cub
{
    0%{
        transform: rotateX(-30deg) 
        rotateY(0deg);
    }

    100%{
        transform: rotateX(-30deg) 
        rotateY(360deg);
    }
}
.cub div{
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cub div span{
    position: absolute;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#252525 , #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(var(--tailleEspace));
}
.cub .spanA{
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    display: flex;
        justify-content: center;
        align-items: center;
    cursor: pointer;
}
.cub .spanA:hover{
    background-color: #00ec00;
    color: #252525;
}
.top{
    position: absolute;
        top: 0;
        left: 0;
    width: var(--taille);
    height: var(--taille);
    background-color: #151515;
    transform: rotateX(90deg) translateZ(var(--tailleEspace));
}
.top::before{
    background-color: #00ec00;
    content: "";
    position: absolute;
        top: 0;
        left: 0;
    width: var(--taille);
    height: var(--taille);
    transform: translateZ(var(--filter-distance));
    filter: var(--filter-blur) ;
}





.contact{
    background-color: rgb(0, 0, 0,0.8);
    position: fixed;
        top: 0;
    height: 90%;
    margin: 0 auto;
}
.contact span{
    position: absolute;
        top: 20px;
        left: 20px;
    padding: 10px 12px;
    background-color: #004d00;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}
.contact span:hover{
    background-color: #00ec00;
}
.contact span i{
    display: flex;
}
.contact ul{
    background-color: rgb(42, 42, 42,0.8);
    height: 90%;
    width: 90%;
    margin: 5% auto 5%;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
/* .contact ul div{
    border: solid 2px white;
} */
.contact ul li{
    color: white;
    display: flex;
        justify-content: flex-start;
        align-items: center;
}

.contact ul li{
    font-weight: bold;
    font-size: 1.5em;
}

.hide{
    left: -105vw;
    width: 10%;
}
.hide ul li{
    font-size: 0;
    text-shadow: none;
}
.show{
    left: 0;
    width: 100%;
}
.show ul li{
    font-size: 0.8em;
    transition: 200ms;
}