.slide_box{
    background-color: var(--backColorOrange);
    color: white;
    height: 100vh;
    width: 100%;
    position: fixed;
        top: 0;
}


.btn_slide_box{
    padding: 10px 12px;
    display: inline;
    color: var(--backColorOrange);
    position: sticky;
        top: 10px;
        left: 10px;
}
.btn_slide_box:hover{
    color: white;
}
.btn_slide_box i{
    font-size: 1.3rem;
}


.hide{
    left: -105vw;
    width: 10%;
}
.hide ul li{
    font-size: 0;
    text-shadow: none;
}
.show{
    left: 0;
    width: 100%;
}
.show ul li{
    font-size: 0.8em;
    transition: 200ms;
}